#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  background-color: #2b3a49;
  border-radius: 8px;
  box-shadow: 1px 1px 8px -3px rgba(0, 0, 0, 0.5);
  min-width:300px;
}

.logo {
  max-width:300px;
}

.read-the-docs {
  color: #888;
}

[data-theme='light'] {
  .card {
    background-color: #ffffff;
  }

  .logo { filter: invert(1); }
}
